name: Copy_firmware_master

on:
  push: 
    branches: action-master
    paths-ignore:
    - '.github/**' # Ignore changes towards the .github directory

jobs:
  copycat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build commit message
        id: step_one
        run: |
          tas_com_tmp1=$(curl https://raw.githubusercontent.com/arendst/tmp_copy/action-master/trigger.txt)
          tas_com_tmp="Update from https://github.com/arendst/Tasmota/commit/${tas_com_tmp1}"
          echo "tas_com=$tas_com_tmp" >> $GITHUB_ENV  
      - name: copycat tasmota
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.API_TOKEN_GITHUB }}
          src_path: release-firmware/tasmota/.
          src_branch: main
          dst_path: /firmware/release/
          dst_owner: tasmota
          dst_branch: main
          dst_repo_name: install
          username: workflow
          commit_message: ${{ env.tas_com }}

  copycat32:
    needs: copycat
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build commit message
        id: step_one
        run: |
          tas_com_tmp1=$(curl https://raw.githubusercontent.com/arendst/tmp_copy/action-master/trigger.txt)
          tas_com_tmp="Update from https://github.com/arendst/Tasmota/commit/${tas_com_tmp1}"
          echo "tas_com=$tas_com_tmp" >> $GITHUB_ENV  
      - name: copycat tasmota32
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.API_TOKEN_GITHUB }}
          src_path: release-firmware/tasmota32/.
          src_branch: main
          dst_path: /firmware/release/
          dst_owner: tasmota
          dst_branch: main
          dst_repo_name: install
          username: workflow
          commit_message: ${{ env.tas_com }}
