name: Copycat_development
on:
  workflow_dispatch:  # Manually start a workflow
  push:
    branches: main
    paths-ignore:
    - '.github/**' # Ignore changes towards the .github directory
    - '**.md' # Do no build if *.md files changes

jobs:
  copycat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: copycat tasmota
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.API_TOKEN_GITHUB }}
          src_path: firmware/tasmota/.
          src_branch: main
          dst_path: firmware/development
          dst_owner: tasmota
          dst_branch: main
          dst_repo_name: install
          username: workflow
          commit_message: "Update from unofficial builder"
  copycat32:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: copycat tasmota32
        uses: andstor/copycat-action@v3
        with:
          personal_token: ${{ secrets.API_TOKEN_GITHUB }}
          src_path: firmware/tasmota32/.
          src_branch: main
          dst_path: firmware/development
          dst_owner: tasmota
          dst_branch: main
          dst_repo_name: install
          username: workflow
          commit_message: "Update from unofficial builder"
